<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Bienvenue sur ma page d'accueil</h1>
        <img src="/static/images/maphotodeprofil.jpg" alt="Image d'accueil" style="width: 300px; height: auto; margin-top: 20px;">
        
        <!-- Lien LinkedIn -->
        <div style="margin-top: 20px;">
            <a href="https://www.linkedin.com/in/ibra-deguene-dieng-deme-08323a21b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" style="text-decoration: none; color: #0A66C2; font-size: 18px;">
                ➡️ Mon profil LinkedIn
            </a>
        </div>
    </div>
</body>
</html>
